alembic==0.8.8
courseraoauth2client==0.0.1
docutils==0.12
Flask==0.10.1
Flask-Admin==1.4.2
Flask-Migrate==2.0.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.10.2
gunicorn==19.1.1
httplib2==0.9
itsdangerous==0.24
Jinja2==2.7.3
Mako==1.0.4
MarkupSafe==0.23
oauth==1.0.1
oauth2==1.5.211
Pygments==1.6
PyLTI==0.4.1
python-editor==1.0.1
requests==2.11.1
semver==2.6.0
Sphinx==1.2.3
SQLAlchemy==1.0.15
urwid==1.2.1
Werkzeug==0.9.6
WTForms==2.0.1
